h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.17em;}
h4{
  /* margin: 1.12em 0; */
}
h5 {font-size: 0.83em;}
h6 {font-size: 0.75em;}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

li{
    text-decoration:none;
    list-style:none;
}

button {
    /* border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a; */
    cursor: pointer;
    transition: border-color 0.25s;
}